/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/
body {
    font-family: "Averia Serif Libre", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #E6EDF1;
}

.wrapper {
    width: 1400px;
    margin: 0 auto;
}

/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/*--------------*/
/*--- HEADER ---*/
/*--------------*/

header {

}